<!DOCTYPE html>
<html lang="en">
  <%- include('header.ejs') %>

  <body>
    <%- include('navbar.ejs') %>

    <div role="main" class="container bg-info text-light">
      <br /><br />
        <% if(employees.length){ %>
            <h2>‐‐ Employee Listing ‐‐</h2>
            <br/>
            <button class="btn btn-secondary"><a href="/new">Add New</a></button>
            <table class="table table-bordered table-striped table-dark table-hover text-white">
                <thead class="thead‐dark">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Job Title</th>
                        <th>Department</th>
                        <th>Record</th>
                    </tr>
                </thead>
                <tbody>
                    <% employees.forEach(function(entry){ %>
                        <tr>
                            <td>
                                <%= entry.firstName %>
                            </td>
                            <td>
                                <%= entry.lastName %>
                            </td>
                            <td>
                                <%= entry.jobTitle %>
                            </td>
                            <td>
                                <%= entry.department %>
                            </td>
                            <td>
                                <button class="btn btn-secondary">
                                    <a href="/view/<%= entry.id %>">VIEW</a>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <% }) %>
                </table>
                <% }else{ %>
                    <button class="btn btn-secondary">No entries!<a href="/new">Add one!</a></button>
                <% } %>
    </div>
    <%- include('footer.ejs') %>
    <%- include('scripts') %>
  </body>
</html>